export (MTMM)
import (graphics)
import (grDevices)
import (utils)
import (tcltk)
import (gWidgets)
import (gWidgetstcltk)
import (zipfR)
import (tm)
import (pander)
import (igraph)
import (tau)
import (wordcloud)
import (FactoMineR)
import (network)
import (FactoClass)
import (RColorBrewer)
import (ade4)
